<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhc.fastersoft.dao.QualityTempletMapper" >
  <resultMap id="BaseResultMap" type="com.dhc.fastersoft.entity.QualityTemplet" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TEMPLET_NO" property="templetNo" jdbcType="VARCHAR" />
    <result column="TEMPLET_NAME" property="templetName" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
      <result column="CHECK_TYPE" property="checkType" jdbcType="VARCHAR" />
    <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    <collection property="qtItems" resultMap="com.dhc.fastersoft.dao.QualityTempletItemMapper.BaseResultMap"></collection>
  </resultMap>
  <sql id="criteria">
  		<where>1=1
			  <if test="templetNo != null and templetNo !=''" >
	             AND TEMPLET_NO LIKE '%${templetNo}%'
		      </if>
		      <if test="templetName != null and templetName !=''" >
		          AND TEMPLET_NAME LIKE '%${templetName}%'
		      </if>
			  <if test="type != null and type != ''" >
		          AND TYPE LIKE '%${type}%'
		      </if>
		</where>
  </sql>
  <insert id="add" parameterType="com.dhc.fastersoft.entity.QualityTemplet" >
    insert into T_QUALITY_TEMPLET
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="templetNo != null" >
        TEMPLET_NO,
      </if>
      <if test="templetName != null" >
        TEMPLET_NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="checkType != null" >
        CHECK_TYPE,
      </if>
      <if test="company != null" >
        COMPANY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id,jdbcType=VARCHAR},
      <if test="templetNo != null" >
        #{templetNo,jdbcType=VARCHAR},
      </if>
      <if test="templetName != null" >
        #{templetName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        to_date(#{createDate,jdbcType=TIMESTAMP}, 'yyyy-mm-dd,hh24:mi:ss'),
      </if>
    <if test="checkType != null" >
        #{checkType,jdbcType=VARCHAR},
    </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
	
	<!-- 总条数 -->
	<select id="count" parameterType="java.util.HashMap"
		resultType="Integer">
		SELECT count(0) FROM T_QUALITY_TEMPLET
		<include refid="criteria"/>
	</select>
	<!-- 判断重复 -->
	<select id="countCheck" parameterType="java.util.HashMap"
		resultType="Integer">
		SELECT count(0) FROM T_QUALITY_TEMPLET
		<where>
			  <if test="templetNo != null and templetNo !=''" >
	              TEMPLET_NO = '${templetNo}'
		      </if>
			  <if test="type != null and type != ''" >
		          AND TYPE = '${type}'
		      </if>
		      <if test="templetName != null and templetName != ''" >
		          AND TEMPLET_NAME = '${templetName}'
		      </if>
		</where>
	</select>
	<!-- 根据搜索条件查询计划列表 -->
	<select id="list" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		${start}   SELECT *
  		from T_QUALITY_TEMPLET
  		<include refid="criteria"/>
		ORDER BY CREATE_DATE DESC 
		${end}
	</select>
	<!-- 根据搜索条件查询计划列表 -->
	<select id="listChoice" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		${start}    
		SELECT * from T_QUALITY_TEMPLET qt
		<where>
		  <if test="templetNo != null and templetNo !=''" >
              AND TEMPLET_NO LIKE '%${templetNo}%'
	      </if>
	      <if test="templetName != null and templetName != ''" >
	          AND TEMPLET_NAME LIKE '%${templetName}%'
	      </if>
		  <if test="type != null and type != ''" >
	          AND TYPE LIKE '%${type}%'
	      </if>
        </where>
		ORDER BY TYPE ASC
		${end}
	</select>
	<update id="update" parameterType="com.dhc.fastersoft.entity.QualityTemplet">
			UPDATE T_QUALITY_TEMPLET SET
	<trim suffixOverrides="," >
	  <if test="templetNo != null" >
        TEMPLET_NO='${templetNo}',
      </if>
      <if test="templetName != null" >
        TEMPLET_NAME='${templetName}',
      </if>
      <if test="type != null" >
        TYPE='${type}',
      </if>
        <if test="creator != null" >
       CREATOR='${creator}' ,
      </if>
      <if test="createDate != null" >
       CREATE_DATE= to_date('${createDate}','yyyy-MM-dd HH24:mi:ss'),
      </if>
        <if test="checkType != null" >
            CHECK_TYPE= '${checkType}',
        </if>

      <if test="company != null" >
       COMPANY= '${company}',
      </if>
      <if test="remark != null" >
        REMARK='${remark},
      </if>
      </trim>
      		  WHERE ID='${id}'
	</update>
	<select id="getById" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from T_QUALITY_TEMPLET WHERE ID='${id}'
	</select>
	<delete id="delete" parameterType="java.lang.String" >
		DELETE from T_QUALITY_TEMPLET WHERE ID='${id}'
	</delete>



    <select id="getTemplateByNo" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select * from T_QUALITY_TEMPLET WHERE TEMPLET_NO='${templateNo}'
    </select>
</mapper>