<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhc.fastersoft.dao.RotatePlanDetailDao" >
	<resultMap type="com.dhc.fastersoft.entity.RotatePlanDetail" id="rotatePlanDetailResultMap">
		<result property="id"          column="ID"      jdbcType="NVARCHAR" />  
		<result property="rotateType"      column="ROTATE_TYPE"      jdbcType="NVARCHAR" />  
		<result property="libraryName"     column="LIBRARY_NAME"     jdbcType="NVARCHAR" />  
		<result property="barnNumber"         column="BARN_NUMBER" jdbcType="NVARCHAR" /> 
		<result property="foodType"      column="FOOD_TYPE"         jdbcType="NVARCHAR" />
		<result property="yieldTime"      column="YIELD_TIME"       jdbcType="TIMESTAMP" />
		<result property="orign"      column="ORIGN"    jdbcType="NVARCHAR" />
		<result property="approvalCapacity"      column="APPROVAL_CAPACITY"    jdbcType="NVARCHAR" />
		<result property="realCapacity"      column="REAL_CAPACITY"    jdbcType="NVARCHAR" />
		<result property="rotateNumber"      column="ROTATE_NUMBER"    jdbcType="INTEGER" />
		<result property="quality"     column="Quality"       jdbcType="NVARCHAR" />
		<result property="planId"    column="PLAN_ID"    jdbcType="NVARCHAR" />
		<result property="qualityId"    column="QUALITY_ID"    jdbcType="NVARCHAR" />
		<result property="swtzId"    column="SWTZ_ID"    jdbcType="NVARCHAR" />
		<result property="dealSerial"    column="DEAL_SERIAL"    jdbcType="NVARCHAR" />
		<result property="planmaindetailId"    column="PLAN_MAIN_DETAIL_ID"    jdbcType="NVARCHAR" />
		<result property="qualityDetail"    column="QUALITY_DETAIL"    jdbcType="NVARCHAR" />
		<result property="warehouseid" column="WAREHOUSE_ID" jdbcType="VARCHAR"/>
		<result property="isInput" column="IS_INPUT" jdbcType="INTEGER"/>
		<result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="VARCHAR"/>
		<result column="ENTERPRISE_NAME" property="enterpriseName" jdbcType="VARCHAR"/>
		<result column="STORE_TYPE" property="storeType" jdbcType="VARCHAR"/>
		<result property="dealDetailNumber"      column="DEAL_DETAIL_NUMBER"    jdbcType="DECIMAL" />

	</resultMap>
	
	
</mapper>
