<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhc.fastersoft.dao.system.SysOADao">
	<update id="updateStatus" parameterType="java.util.HashMap">
		begin
		UPDATE ${tableName}
		SET
		${field} = #{status}
		WHERE ID = #{id};

		<if test="childTableName!=null and childTableName!=''">
			UPDATE ${childTableName}
			SET
			${childField} = #{childStatus}
			WHERE ${foreignKey} = #{id};
		</if>
		end;
	</update>
</mapper>